## 2.0 Reading the Data

In [3]:
import pandas as pd
import csv 
import gzip

In [4]:

# Loading the data from 'bom.movie_gross.csv.gz'
df_bom_movies = pd.read_csv('bom.movie_gross.csv.gz')
df_bom_movies

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [5]:
# Loading th data from 'imdb.title.basics.csv.gz'
imdb_title_basics_df = pd.read_csv('imdb.title.basics.csv.gz')
imdb_title_basics_df

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [6]:
# loading the data from 'imdb.title.ratings.csv.gz'
imdb_title_ratings_df = pd.read_csv('imdb.title.ratings.csv.gz')
imdb_title_ratings_df

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

## 3.0 Checking the Data

### 3.1 Checking the number of records in our dataset
Here we will have a brief description about the infomation on the data sets and the total number of records.

In [10]:
# Checking for the number of records and the info in 'bom.movie_gross.csv.gz'
print("\n")
print(df_bom_movies.info())
print("\n")

# Access the shape attribute 
no_of_rows = df_bom_movies.shape[0]
no_of_columns = df_bom_movies.shape[1]

print("The number of rows:", no_of_rows)
print("The number of columns are:", no_of_columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
None


The number of rows: 3387
The number of columns are: 5

In [11]:
# Checking for the number of records in 'imdb.title.basics.csv.gz'
imdb_title_basics_df.info()

print('\n')

# Access the shape attribute 
no_of_rows = imdb_title_basics_df.shape[0]
no_of_columns = imdb_title_basics_df.shape[1]

print("The number of rows:", no_of_rows)
print("The number of columns are:", no_of_columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146143 non-null  object
 2   original_title   146122 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB


The number of rows: 146144
The number of columns are: 6

In [12]:
# Checking for the number of record in 'imdb.title.ratings.csv.gz
imdb_title_ratings_df.info()

print('\n')

# Access the shape attribute 
no_of_rows = imdb_title_ratings_df.shape[0]
no_of_columns = imdb_title_ratings_df.shape[1]

print("The number of rows:", no_of_rows)
print("The number of columns are:", no_of_columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB


The number of rows: 73856
The number of columns are: 3

## 3.2 Previewing the Top of my Dataset
To view the first few rows of the DataFrame of our Dataset

In [13]:
# Preview the top of the dataset bom.movie_gross.csv.gz
df_bom_movies.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [14]:
# Preview the top of the datset 'imdb.title.basics.csv.gz'
imdb_title_basics_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [15]:
# Preview the top of the datset  imdb.title.ratings.csv.gz
imdb_title_ratings_df.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

##  3.3 Previwing the bottom of our dataset
Here we are going to preview the bottom of our dataset.

In [17]:
# Preview the bottom of the dataset bom.movie_gross.csv.gz
df_bom_movies.tail()

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [18]:
# Preview the bottom of the datset imdb.title.basics.csv.gz
imdb_title_basics_df.tail()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [19]:
 # Preview the bottom of the datset imdb.title.ratings.csv.gz
imdb_title_ratings_df.tail()

          tconst  averagerating  numvotes
73851  tt9805820            8.1        25
73852  tt9844256            7.5        24
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

## 3.4 Checking Whether each column has an appropriate datatype
Here we are going to check whether each column in the DataFrame has an appropriate data type.

In [20]:
# check the data type using dtypes attribute in  
column_bom_dtypes = df_bom_movies.dtypes
column_bom_dtypes

title              object
studio             object
domestic_gross    float64
foreign_gross      object
year                int64
dtype: object

In [22]:
# iterate over the df to check the appropriateness of each data type 
for column, dtype in column_bom_dtypes.items():
    print(f"Column '{column}' has data type: {dtype}")

Column 'title' has data type: object
Column 'studio' has data type: object
Column 'domestic_gross' has data type: float64
Column 'foreign_gross' has data type: object
Column 'year' has data type: int64

In [25]:
# check the data type using dtypes attribute in  
column_title_dtypes = imdb_title_basics_df.dtypes
column_title_dtypes

tconst              object
primary_title       object
original_title      object
start_year           int64
runtime_minutes    float64
genres              object
dtype: object

In [26]:
# iterate over the df to check the appropriateness of each data type 
for column, dtype in column_title_dtypes.items():
    print(f"Column '{column}' has data type: {dtype}")

Column 'tconst' has data type: object
Column 'primary_title' has data type: object
Column 'original_title' has data type: object
Column 'start_year' has data type: int64
Column 'runtime_minutes' has data type: float64
Column 'genres' has data type: object

In [27]:
# check the data type using dtypes attribute in  
column_ratings_dtypes = imdb_title_ratings_df.dtypes
column_ratings_dtypes

tconst            object
averagerating    float64
numvotes           int64
dtype: object

In [29]:
# iterate over the df to check the appropriateness of each data type 
for column, dtype in column_ratings_dtypes.items():
    print(f"Column '{column}' has data type: {dtype}")

Column 'tconst' has data type: object
Column 'averagerating' has data type: float64
Column 'numvotes' has data type: int64